@import "tailwindcss";

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-primary: #77B112;
    --color-primary-dark: #5f8e0f;
    --color-primary-light: #8fd31a;
}

.active-tab {
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    font-weight: 600;
}

.input {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.btn-primary {
    background: var(--color-primary);
    color: white;
    padding: 10px 16px;
    border-radius: 6px;
}